p {
    padding-bottom: 20px;
}

.information {
    background-color: #ffffff; /* Jasne tło sekcji */
    padding: 40px 20px; /* Dodatkowy odstęp od góry i dołu */
    margin-top: 50px; /* Odstęp od poprzedzającej sekcji */
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}